

              <!-- Sign up form -->
          <form method="post" action="" id="SignUpForm">

              {% csrf_token %}

            {% load widget_tweaks %}

            <div class="form-group">
                {% render_field SignUpform.firstName class+="form-control" type="text" placeholder="First name" %}
             </div>

              <div class="form-group">
                {% render_field SignUpform.lastName class+="form-control" type="text" placeholder="Last name" %}
             </div>

            <div class="form-group">
                {% render_field SignUpform.email class+="form-control" type="email" placeholder="Email address" %}
            </div>

            <div class="form-group">
                {% render_field SignUpform.username class+="form-control" type="text" placeholder="Username" %}
            </div>

            <div class="form-group">
                {% render_field SignUpform.password class+="form-control" type="password" placeholder="password" %}
            </div>

            <button type="submit" class="btn btn-primary" name="SignUpButton" value="SignUpButton">Sign Up</button>

        </form>