

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign Up, It's free!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

          <!-- Sign up form -->
          <form method="post" action="">

              {% csrf_token %}

              {% load widget_tweaks %}

            <div class="form-group">
                {% render_field SignUpform.fullName class+="form-control" type="text" placeholder="Full name" %}
            </div>

            <div class="form-group">
                {% render_field SignUpform.email class+="form-control" type="email" placeholder="Email address" %}
            </div>

            <div class="form-group">
                 {% render_field SignUpform.username class+="form-control" type="text" placeholder="Username" %}
            </div>

            <div class="form-group">
                {% render_field SignUpform.password class+="form-control" type="password" placeholder="password" %}
            </div>

          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" name="SignUpButton" value="SignUpButton">Sign Up</button>
      </div>
    </div>
  </div>
</div>