

              <!-- Sign up form -->
          <form method="post" action="" id="SignUpForm">

              {% if messages %}

                    {% for message in messages %}

                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>

                    {% endfor %}

                {% endif %}

              {% csrf_token %}

            {% load widget_tweaks %}

            <div class="form-group">
                {% render_field SignUpform.email class+="form-control" type="email" placeholder="Email address" %}
            </div>

            <div class="form-group">
                {% render_field SignUpform.username class+="form-control" type="text" placeholder="Username" %}
            </div>

            <div class="form-group">
                {% render_field SignUpform.password class+="form-control" type="password" placeholder="password" %}
            </div>

            <button type="submit" class="btn btn-primary" name="SignUpButton" value="SignUpButton">Sign Up</button>

        </form>