body{
    background-image: url("https://www.muralswallpaper.com/app/uploads/wall-street-plain.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes SignUpForm {
    from{
        opacity: 0;
    }

    to{
        opacity: 100%;
    }
}

#SignUpForm{
    margin-top: 50%;
    animation-name: SignUpForm;
    animation-duration: 3s;
    animation-timing-function: ease;
}

#LoginForm{
    margin-top: 50%;
    animation-name: SignUpForm;
    animation-duration: 3s;
    animation-timing-function: ease;
}